In [20]:
##########################################
# Pricing/Mispricing Paper Table 2       #
# Andrew Lou                             #
# Date: June 28 2022                     #
##########################################

# package imports
from tkinter import Y
import pandas as pd
import numpy as np
import datetime as dt
import wrds
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *
from scipy import stats

# connect to WRDS
conn = wrds.Connection()

crsp_m = conn.raw_sql("""
                      select a.permno, a.permco, a.date, b.shrcd, b.exchcd,
                      a.ret, a.retx, a.shrout, a.prc
                      from crsp.msf as a
                      left join crsp.msenames as b
                      on a.permno=b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      where a.date >='01/01/1968'
                      and b.exchcd between 1 and 3
                      """, date_cols=['date'])

Enter your WRDS username [andrewlou]: alou6683
Enter your password: ············

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

In [21]:
# change variable format to int
crsp_m[['permco','permno','shrcd','exchcd']]=crsp_m[['permco','permno','shrcd','exchcd']].astype(int)

# Line up date to be end of month
crsp_m['jdate']=crsp_m['date']+MonthEnd(0)

# add delisting return
dlret = conn.raw_sql("""
                     select permno, dlret, dlstdt 
                     from crsp.msedelist
                     """, date_cols=['dlstdt'])

In [22]:
dlret.permno=dlret.permno.astype(int)
#dlret['dlstdt']=pd.to_datetime(dlret['dlstdt'])
dlret['jdate']=dlret['dlstdt']+MonthEnd(0)

crsp = pd.merge(crsp_m, dlret, how='left',on=['permno','jdate'])
crsp['dlret']=crsp['dlret'].fillna(0)
crsp['ret']=crsp['ret'].fillna(0)

# retadj factors in the delisting returns
crsp['retadj']=(1+crsp['ret'])*(1+crsp['dlret'])-1

# calculate market equity
crsp['me']=crsp['prc'].abs()*crsp['shrout'] 
crsp=crsp.drop(['dlret','dlstdt','prc','shrout'], axis=1)
crsp=crsp.sort_values(by=['jdate','permco','me'])

In [23]:
crsp.head(5)

,permno,permco,date,shrcd,exchcd,ret,retx,jdate,retadj,me
945326,28820,6,1968-01-31,10,2,-0.144385,-0.144385,1968-01-31,-0.144385,57000.0
953346,29161,64,1968-01-31,10,2,0.551020,0.551020,1968-01-31,0.551020,20900.0
572378,17670,74,1968-01-31,10,1,-0.017857,-0.017857,1968-01-31,-0.017857,34375.0
1268572,41515,80,1968-01-31,11,1,0.119266,0.119266,1968-01-31,0.119266,177876.0
620508,18702,267,1968-01-31,10,1,0.142857,0.142857,1968-01-31,0.142857,48992.0

In [24]:
### Aggregate Market Cap ###
# sum of me across different permno belonging to same permco a given date
crsp_summe = crsp.groupby(['jdate','permco'])['me'].sum().reset_index()

# largest mktcap within a permco/date
crsp_maxme = crsp.groupby(['jdate','permco'])['me'].max().reset_index()

# join by jdate/maxme to find the permno
crsp1=pd.merge(crsp, crsp_maxme, how='inner', on=['jdate','permco','me'])

# drop me column and replace with the sum me
crsp1=crsp1.drop(['me'], axis=1)

# join with sum of me to get the correct market cap info
crsp2=pd.merge(crsp1, crsp_summe, how='inner', on=['jdate','permco'])

# sort by permno and date and also drop duplicates
crsp2=crsp2.sort_values(by=['permno','jdate']).drop_duplicates()

crsp2['year']=crsp2['jdate'].dt.year
crsp2['month']=crsp2['jdate'].dt.month

crsp2.head(80)

,permno,permco,date,shrcd,exchcd,ret,retx,jdate,retadj,me,year,month
989454,10000,7952,1986-01-31,10,3,0.000000,NaN,1986-01-31,0.000000,16100.000000,1986,1
995656,10000,7952,1986-02-28,10,3,-0.257143,-0.257143,1986-02-28,-0.257143,11960.000000,1986,2
1001867,10000,7952,1986-03-31,10,3,0.365385,0.365385,1986-03-31,0.365385,16330.000000,1986,3
1008088,10000,7952,1986-04-30,10,3,-0.098592,-0.098592,1986-04-30,-0.098592,15172.000000,1986,4
1014319,10000,7952,1986-05-30,10,3,-0.222656,-0.222656,1986-05-31,-0.222656,11793.859375,1986,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1378307,10001,7953,1990-11-30,11,3,0.000000,0.000000,1990-11-30,0.000000,10048.500000,1990,11
1384881,10001,7953,1990-12-31,11,3,0.001299,-0.012987,1990-12-31,0.001299,10013.000000,1990,12
1391439,10001,7953,1991-01-31,11,3,0.013158,0.013158,1991-01-31,0.013158,10144.750000,1991,1
1397973,10001,7953,1991-02-28,11,3,0.012987,0.012987,1991-02-28,0.012987,10276.500000,1991,2
1404492,10001,7953,1991-03-28,11,3,-0.011538,-0.025641,1991-03-31,-0.011538,10013.000000,1991,3

In [30]:
crsp2['1+retx']=1+crsp2['retx']
crsp2=crsp2.sort_values(by=['permno','date'])

# cumret by stock
crsp2['cumretx']=crsp2.groupby(['permno','year'])['1+retx'].cumprod()

# lag cumret
crsp2['lcumretx']=crsp2.groupby(['permno'])['cumretx'].shift(120)

# lag market cap
crsp2['lme']=crsp2.groupby(['permno'])['me'].shift(-120)

# if first permno then use me/(1+retx) to replace the missing value
crsp2['count']=crsp2.groupby(['permno']).cumcount()
crsp2['lme']=np.where(crsp2['count']==0, crsp2['me']/crsp2['1+retx'], crsp2['lme'])
crsp3 = crsp2.copy()
crsp3 = crsp3.dropna()
crsp3.head(20)

,permno,permco,date,shrcd,exchcd,ret,retx,jdate,retadj,me,year,month,1+retx,cumretx,lcumretx,lme,count
1149885,10065,20023,1988-01-29,14,1,0.075294,0.073950,1988-01-31,0.075294,381079.375,1988,1,1.073950,1.073950,0.949804,1.170902e+06,120
1156876,10065,20023,1988-02-29,14,1,0.015748,0.015748,1988-02-29,0.015748,387080.625,1988,2,1.015748,1.090862,0.949804,1.333014e+06,121
1163854,10065,20023,1988-03-31,14,1,-0.046512,-0.046512,1988-03-31,-0.046512,369076.875,1988,3,0.953488,1.040124,0.960128,1.382963e+06,122
1170826,10065,20023,1988-04-29,14,1,0.008130,0.008130,1988-04-30,0.008130,372077.500,1988,4,1.008130,1.048581,1.011748,1.361110e+06,123
1177778,10065,20023,1988-05-31,14,1,-0.000323,-0.008065,1988-05-31,-0.000323,369076.875,1988,5,0.991935,1.040124,0.980776,1.342379e+06,124
1184722,10065,20023,1988-06-30,14,1,0.032520,0.032520,1988-06-30,0.032520,381079.375,1988,6,1.032520,1.073950,0.970452,1.342379e+06,125
1191667,10065,20023,1988-07-29,14,1,0.000000,0.000000,1988-07-31,0.000000,381079.375,1988,7,1.000000,1.073950,0.991100,1.323648e+06,126
1198593,10065,20023,1988-08-31,14,1,-0.016063,-0.023622,1988-08-31,-0.016063,372077.500,1988,8,0.976378,1.048581,1.073691,1.102000e+06,127
1205502,10065,20023,1988-09-30,14,1,0.000000,0.000000,1988-09-30,0.000000,372077.500,1988,9,1.000000,1.048581,1.032396,1.155071e+06,128
1212410,10065,20023,1988-10-31,14,1,0.056452,0.056452,1988-10-31,0.056452,393081.875,1988,10,1.056452,1.107775,0.991100,1.267456e+06,129
1219298,10065,20023,1988-11-30,14,1,-0.010076,-0.024733,1988-11-30,-0.010076,354073.750,1988,11,0.975267,1.080376,0.991100,1.264334e+06,130
1226142,10065,20023,1988-12-30,14,1,0.000000,0.000000,1988-12-31,0.000000,354073.750,1988,12,1.000000,1.080376,0.939480,1.329892e+06,131
1232972,10065,20023,1989-01-31,14,1,0.025085,0.021695,1989-01-31,0.025085,360075.000,1989,1,1.021695,1.021695,1.021538,1.339258e+06,132
1239785,10065,20023,1989-02-28,14,1,0.000000,0.000000,1989-02-28,0.000000,360075.000,1989,2,1.000000,1.021695,1.009930,1.352044e+06,133
1246583,10065,20023,1989-03-31,14,1,-0.033333,-0.033333,1989-03-31,-0.033333,410292.000,1989,3,0.966667,0.987638,1.056364,1.407164e+06,134
1253366,10065,20023,1989-04-28,14,1,0.017241,0.017241,1989-04-30,0.017241,417366.000,1989,4,1.017241,1.004667,1.067972,1.433102e+06,135
1260131,10065,20023,1989-05-31,14,1,0.050508,0.042373,1989-05-31,0.050508,435051.000,1989,5,1.042373,1.047237,1.067972,1.446071e+06,136
1266857,10065,20023,1989-06-30,14,1,0.000000,0.000000,1989-06-30,0.000000,435051.000,1989,6,1.000000,1.047237,1.044755,1.510918e+06,137
1273602,10065,20023,1989-07-31,14,1,0.048780,0.048780,1989-07-31,0.048780,456273.000,1989,7,1.048780,1.098322,1.126014,1.481737e+06,138
1280322,10065,20023,1989-08-31,14,1,0.030698,0.023256,1989-08-31,0.030698,466884.000,1989,8,1.023256,1.123864,1.160839,1.504433e+06,139

In [26]:
anomaly = pd.read_parquet("anomaly.gzip")
# lag cumret
anomaly['lperf']=anomaly.groupby(['permno'])['perf'].shift(120)
# lag market cap
anomaly['lmgmt']=anomaly.groupby(['permno'])['mgmt'].shift(120)
fullanomaly = anomaly.copy()
fullanomaly = fullanomaly.dropna()
fullanomaly.head(20)

,permno,yyyymm,RET,lag_prc,mktcap,EXCHCD,perf,mgmt,perf_cnt,mgmt_cnt,lperf,lmgmt
340660,10321.0,196202.0,0.069919,15.375,277626.375,1.0,5.624196,47.983946,4,3,30.530715,64.026779
340667,10487.0,196202.0,-0.020863,34.750,97821.250,1.0,7.207011,35.571858,4,3,68.757312,38.606889
340725,11607.0,196202.0,0.012048,41.500,207873.500,1.0,10.353684,35.962125,4,3,51.737379,32.670724
340768,12511.0,196202.0,0.128342,46.750,121643.500,1.0,66.395704,48.904145,4,3,64.477389,33.637636
340790,12976.0,196202.0,0.070140,62.375,123627.250,1.0,68.166242,34.974973,4,3,41.167547,58.488854
340884,15229.0,196202.0,-0.068182,33.000,33396.000,1.0,17.961905,65.949662,4,3,59.535357,45.242241
340937,16555.0,196202.0,0.066327,49.000,58506.000,1.0,69.396363,48.392420,4,3,40.073892,46.155051
340990,17670.0,196202.0,-0.084158,50.500,48227.500,1.0,36.629760,40.210739,4,3,43.487995,71.578477
341035,18438.0,196202.0,0.022727,22.000,13794.000,1.0,29.354875,26.693498,4,3,46.300928,33.613110
341078,19297.0,196202.0,-0.013453,27.875,41478.000,1.0,46.640861,58.186361,4,3,38.902486,42.085543
341088,19502.0,196202.0,0.007111,56.250,80437.500,1.0,57.601532,42.198234,4,3,46.287345,64.809660
341104,19756.0,196202.0,0.162453,13.250,56630.500,1.0,40.931894,57.433086,4,3,28.744897,63.566807
341116,19940.0,196202.0,0.023148,54.000,465858.000,1.0,60.175814,15.486951,4,3,39.563641,32.737258
341135,20220.0,196202.0,0.062500,56.000,129864.000,1.0,62.121610,21.014940,4,3,55.056188,37.453455
341144,20386.0,196202.0,0.039004,30.125,47959.000,1.0,38.619064,64.846182,4,3,61.349671,60.992062
341145,20394.0,196202.0,0.078161,21.750,171324.750,1.0,24.277550,57.603382,4,3,40.403120,38.913021
341151,20474.0,196202.0,-0.004651,26.875,51358.125,1.0,56.363367,44.278076,4,3,37.772751,55.697421
341161,20618.0,196202.0,0.067449,42.625,80859.625,1.0,58.109571,66.292381,4,3,47.829172,28.419398
341224,21557.0,196202.0,0.059441,35.750,66602.250,1.0,37.191630,68.449827,4,3,57.392296,41.784096
341233,21733.0,196202.0,-0.100592,21.125,57438.875,1.0,51.724626,71.938477,4,3,79.827296,81.650099

In [27]:
fullanomaly['date'] = pd.to_datetime(fullanomaly['yyyymm'])
fullanomaly['jdate'] = fullanomaly['date']+MonthEnd(0)
fullanomaly['jdate'] = fullanomaly['jdate'].dt.date
fullanomaly['jdate'] = fullanomaly['jdate'].astype('<M8[ns]')
fullanomaly['permno'] = fullanomaly['permno'].astype(int)
fullanomaly.head(20)

,permno,yyyymm,RET,lag_prc,mktcap,EXCHCD,perf,mgmt,perf_cnt,mgmt_cnt,lperf,lmgmt,date,jdate
340660,10321,196202.0,0.069919,15.375,277626.375,1.0,5.624196,47.983946,4,3,30.530715,64.026779,1970-01-01 00:00:00.000196202,1970-01-31
340667,10487,196202.0,-0.020863,34.750,97821.250,1.0,7.207011,35.571858,4,3,68.757312,38.606889,1970-01-01 00:00:00.000196202,1970-01-31
340725,11607,196202.0,0.012048,41.500,207873.500,1.0,10.353684,35.962125,4,3,51.737379,32.670724,1970-01-01 00:00:00.000196202,1970-01-31
340768,12511,196202.0,0.128342,46.750,121643.500,1.0,66.395704,48.904145,4,3,64.477389,33.637636,1970-01-01 00:00:00.000196202,1970-01-31
340790,12976,196202.0,0.070140,62.375,123627.250,1.0,68.166242,34.974973,4,3,41.167547,58.488854,1970-01-01 00:00:00.000196202,1970-01-31
340884,15229,196202.0,-0.068182,33.000,33396.000,1.0,17.961905,65.949662,4,3,59.535357,45.242241,1970-01-01 00:00:00.000196202,1970-01-31
340937,16555,196202.0,0.066327,49.000,58506.000,1.0,69.396363,48.392420,4,3,40.073892,46.155051,1970-01-01 00:00:00.000196202,1970-01-31
340990,17670,196202.0,-0.084158,50.500,48227.500,1.0,36.629760,40.210739,4,3,43.487995,71.578477,1970-01-01 00:00:00.000196202,1970-01-31
341035,18438,196202.0,0.022727,22.000,13794.000,1.0,29.354875,26.693498,4,3,46.300928,33.613110,1970-01-01 00:00:00.000196202,1970-01-31
341078,19297,196202.0,-0.013453,27.875,41478.000,1.0,46.640861,58.186361,4,3,38.902486,42.085543,1970-01-01 00:00:00.000196202,1970-01-31
341088,19502,196202.0,0.007111,56.250,80437.500,1.0,57.601532,42.198234,4,3,46.287345,64.809660,1970-01-01 00:00:00.000196202,1970-01-31
341104,19756,196202.0,0.162453,13.250,56630.500,1.0,40.931894,57.433086,4,3,28.744897,63.566807,1970-01-01 00:00:00.000196202,1970-01-31
341116,19940,196202.0,0.023148,54.000,465858.000,1.0,60.175814,15.486951,4,3,39.563641,32.737258,1970-01-01 00:00:00.000196202,1970-01-31
341135,20220,196202.0,0.062500,56.000,129864.000,1.0,62.121610,21.014940,4,3,55.056188,37.453455,1970-01-01 00:00:00.000196202,1970-01-31
341144,20386,196202.0,0.039004,30.125,47959.000,1.0,38.619064,64.846182,4,3,61.349671,60.992062,1970-01-01 00:00:00.000196202,1970-01-31
341145,20394,196202.0,0.078161,21.750,171324.750,1.0,24.277550,57.603382,4,3,40.403120,38.913021,1970-01-01 00:00:00.000196202,1970-01-31
341151,20474,196202.0,-0.004651,26.875,51358.125,1.0,56.363367,44.278076,4,3,37.772751,55.697421,1970-01-01 00:00:00.000196202,1970-01-31
341161,20618,196202.0,0.067449,42.625,80859.625,1.0,58.109571,66.292381,4,3,47.829172,28.419398,1970-01-01 00:00:00.000196202,1970-01-31
341224,21557,196202.0,0.059441,35.750,66602.250,1.0,37.191630,68.449827,4,3,57.392296,41.784096,1970-01-01 00:00:00.000196202,1970-01-31
341233,21733,196202.0,-0.100592,21.125,57438.875,1.0,51.724626,71.938477,4,3,79.827296,81.650099,1970-01-01 00:00:00.000196202,1970-01-31

In [ ]:
data = pd.merge(crsp3, fullanomaly, how='inner', on=['permno'])
data.head(20)

In [32]:
data=data[['permno', 'jdate', 'shrcd','exchcd','retadj','me','cumretx','mktcap','lme', 'lperf', 'lmgmt']]
data=data.sort_values(by=['permno','jdate']).drop_duplicates()
data.head(20)

Empty DataFrame
Columns: [permno, jdate, shrcd, exchcd, retadj, me, cumretx, mktcap, lme, lperf, lmgmt]
Index: []